<div>
    <!-- Search box -->
    <div>
        <input style="width: 99%" type="text" ng-model="vm.query" autofocus
               ng-keyup="$event.keyCode == 13 && vm.search()" placeholder="Filtre" />
        <br /><br />
        <app-help help-text="vm.helpText"></app-help>
        <br />
        <button ng-click="vm.search()">Rechercher</button>
    </div>
    <br />
    <img ng-show="vm.loading" src="images/loading.gif" alt="chargement..." class="loading" />
    <!-- Results -->
    <app-result-list ng-hide="vm.loading" results="vm.recipes" message="vm.message" query="vm.encodedQuery"></app-result-list>
</div>