.action {
  position: absolute;
  right: 0px;
  top: 0px;
}

.action-block {
    position: absolute;
    right: 0px;
    top: 45px;
}

.action-btn {
  width: 32px;
  height: 32px;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}
.sub-action-block {
  border: black 3px solid;
  background-color: #ef6c00;
  width: 230px;
  height: 50px
}

img.action-btn {
    vertical-align: baseline;
}

.action-btn-box {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 0;
  position: relative;
  top: -7px;
}

.action-btn-content {
  width: 32px;
  height: 32px;
}