<div class="action">
    <input type="image" ng-show="config.displayBack" ng-click="config.onClickBack()" src="images/back-icon.png" alt="Back" class="action-btn" />
    <input type="image" ng-show="hasAdditionalActions" ng-click="clickAdditional()" src="images/additional.png" alt="More" class="action-btn" />
    <div ng-show="displayAdditionalActions" class="action-block">
        <input type="image" ng-show="config.displayEdit" ng-click="config.onClickEdit()" src="images/edit-icon.png" alt="Edit" class="action-btn" />
        <br />
        <a ng-show="config.displayDownload" ng-href="{{config.downloadUrl}}">
            <img src="images/download-icon.png" alt="Download" class="action-btn" />
        </a>
        <br />
        <a ng-show="config.displayDownload" ng-href="{{config.downloadUrlPdf}}">
            <img src="images/download-pdf-icon.png" alt="Download PDF" class="action-btn" />
        </a>
    </div>
</div>