<div class="content">
    <app-action display-back="true" on-click-back="back()"></app-action>

    <input id="iptRecipeFile" type="file" file-model="file" accept=".pdf,.odt,.docx"/>
    <br /><br />
    <input style="width: 99%" type="text" ng-model="vm.name" placeholder="Nom" autofocus />
    <br /><br />
    <tags-input style="width: 99%" ng-model="vm.tags" add-on-paste="true">
        <auto-complete source="vm.findTags($query)" ></auto-complete>
    </tags-input>
    <br /><br />

    <button ng-hide="loading" ng-click="vm.save()">Enregistrer</button>
    <img class="loading" src="images/loading.gif" ng-show="loading" />

    <br /><br />
    <app-message message="vm.message" is-error="vm.isError" />
</div>