<div class="content">
    <!-- Search box -->
    <div>
        <input id="txtSearch" style="width: 90%" type="text" ng-model="filter"
               ng-keyup="$event.keyCode == 13 && search()" placeholder="Filtre" />
        <br /><br />
        <button ng-click="search()">Rechercher</button>
    </div>
    <!-- Results -->
    <div>
        <ul>
            <li ng-repeat="recipe in recipes">
                <a ng-href="#/search/{{recipe.id}}">{{recipe.name}}</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
$(function() {
  $("#txtSearch").focus();
});
</script>